<div id="top" class="hidden-print">
  <h1 class="cover-heading"><img class="image-responsive" src="/img/bug.png" style="height: 50px;"> {{ site.name }}</h1>
  <p class="lead">{{ site.eventdate }} at {{ site.school }}</p>

  <p class="lead">
    <a href="/register/" class="btn btn-lg btn-primary">{{ site.register_button_text }}</a>
  </p>
  <p class="text-muted">
    {{ site.register_button_help_text }}
  </p>
</div>
<div class="visible-print">
    <h1 class="cover-heading"><img class="image-responsive" src="/img/bug.png" style="height: 50px;"> {{ site.name }} {{ site.year }}</h1>
  <p class="lead">{{ site.eventdate }} at {{ site.school }}</p>
</div>  
