$brand-primary: #d9534f; /* Change to your School's color #5b4279, #d9534f, #a71510 */
$font-family-sans-serif: "Open Sans",sans-serif;
$small-break-point: 768px;

@import "bootstrap";
@import 'modules/_header';
@import 'modules/_base';
@import 'modules/_home';
@import 'modules/_pages';
@import 'modules/_posts';
