
$header-font-family: "Open Sans",sans-serif;
$body-font-family: "Open Sans",sans-serif;
$primary-color: #09c !default;

@import "bootstrap";
@import 'modules/_cover';
@import 'modules/_home';
@import 'modules/_posts';
