.page {
  h2 {
    margin: 40px 0;
    @media (max-width: $small-break-point) {
      margin: 20px 0;
      font-size: 18px;
    }
  }
  h3 {
        color: $brand-primary;
        @media (max-width: $small-break-point) {
            font-size: 16px;
        }
  }
  ul {
      page-break-inside: avoid;
  }
  a {text-decoration: underline!important;}
  a:hover {text-decoration: none!important;}
  a.btn {text-decoration: none!important;}


}

.page-break {
    page-break-after: always;
}

.page-lead {
  margin: 50px 0;
  color: $brand-primary;
  @media (max-width: $small-break-point) {
    font-size: 20px;
    margin: 20px 0;
  }
}

